.post-meta {
    font-size: 0.875rem;

    span:not(:last-child) {
        &::after {
            content: "\25C6";
            display: inline-block;
            padding: 0 .25rem;
        }
    }
}

.archive {
    article {
        padding-bottom: 1rem;
    }
}