@page "~/manager/TemplateModule"
@{ 
    ViewBag.Title = "TemplateModule";
    ViewBag.MenuItem = "TemplateModule";
}

<div id="TemplateModule">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">Content</li>
                <li class="breadcrumb-item active" aria-current="page">TemplateModule</li>
            </ol>
        </nav>
    </div>
</div>

<h1>TemplateModule</h1>
<p>Welcome to your module</p>