on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-18.04
    name: Publish NuGet Packages
    steps:

    # Checkout
    - name: Checkout repository
      uses: actions/checkout@v2

    # Setup .NET Core
    - name: Setup .NET Core @ Latest
      uses: actions/setup-dotnet@v1
      with:
        source-url: https://api.nuget.org/v3/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.NugetAuthToken}}

    # Setup Nuget.exe
    - name: Setup Nuget.exe
      uses: warrenbuckley/Setup-Nuget@v1

    # Build and pack
    - name: Build solution and generate NuGet package
      run: ./pack.sh

    # Install SignClient
    - name: Install SignClient
      run: dotnet tool install --tool-path . SignClient

    # Sign packages
    - name: Sign packages
      run: ./SignClient "SIGN" --input "artifacts/*.nupkg" --config "sign.json" --user "${{secrets.SignClientUser}}" --secret "${{secrets.SignClientSecret}}" --name "Piranha" --description "Piranha" --descriptionUrl "https://github.com/piranhacms/piranha.core"

    # Push to NuGet
    #- name: Push generated package to GitHub registry
    #  run: dotnet nuget push **/*.nupkg --skip-duplicate -k ${{ secrets.NugetAuthToken }}